
$wfx-gMap-height: 300px;
$wfx-gMap-padding: 10px;

.wfx-gMap {
  height: $wfx-gMap-height;
  padding: $wfx-gMap-padding;
}

.wfx-gMap-wrapper {
  width: 100%;
  height: 100%;
  border: solid 1px $color-innerBox-border;
}