@import "../base/colors";
@import "../base/variables";

$wfx-navbar-height: 40px;

.wfx-navbar-wrapper {
  z-index: $wfx-zIndex-highest;
  width: 100%;
  height: $wfx-navbar-height;
  background-color: $color-bg-secondary;
}

.wfx-navbar {
  height: $wfx-navbar-height;
  min-height: $wfx-navbar-height;
  max-width: $wfx-view-maxWidth;
  background-color: $color-bg-secondary;
  margin-bottom: 0;
  border: none;
}

.wfx-navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.wfx-navbar-brand {
  margin-left: -10px !important;
  padding: 1px 40px 0 0;
  height: 100%;
}

.wfx-navbar-logo {
  width: 60px;
  height: 76px;
}

.wfx-navbar-link {
  color: $color-text-secondary !important;
  height: $wfx-navbar-height;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 20px;
}

.wfx-navbar-button {
  margin: 8px 10px 0 0;
  padding: 4px 5px;
}
