@import "../base/colors";

@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT|Kotta+One);

$wfx-topBanner-height: 150px;

#wfx-topBanner {
  height: $wfx-topBanner-height;
  text-align: center;
  background-color: $color-bg-primary;
}

.wfx-topBanner-title {
  font: bold 40px 'Old Standard TT', 'Times New Roman', Times, serif;
  color: $color-text-title;
  margin-top: 0;
  margin-bottom: 0;
}

.wfx-topBanner-subTitle {
  font: bold 18px 'Old Standard TT', 'Times New Roman', Times, serif;
  color: $color-text-subTitle;
}