@import "../../styles/base/breakdown";

@font-face {
  font-family: 'Audiowide';
  src: url('../../static/fonts/Audiowide/Audiowide-Regular.ttf');
}

.pageHeader {
  width: 100%;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}

.contentWrapper{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.titleWrapper {
  display: flex;
  justify-content: center;
  margin: 40px auto 30px auto;

  .title {
    width: 280px;
    display: inline-block;
    margin: 0;
    text-align: center;
    color: #333;
    font: 60px/1.3 "Audiowide", Georgia, serif;
    text-decoration: none;
    border-bottom: 1px dotted #ccc;

    @include mixin-mq(exsmall) {
      font-size: 50px;
    }
  }

  .brand {
    position: absolute;
    z-index: 9000;
    margin-top: -2px;
    margin-left: 4px;
    .logo {
      width: 67px;
    }

    @include mixin-mq(small) {
      margin-top: 12px;
      margin-left: 0;
      .logo {
        width: 40px;
      }
    }

    @include mixin-mq(exsmall) {
      margin-top: 12px;
      margin-left: -22px;
      .logo {
        width: 32px;
      }
    }
  }
}

.subTitle {
  color: #333;
  text-align: center;
  font: 16px/1.5 "Coustard", Georgia, serif;
}
