@import "../../styles/base/colors";
@import "../../styles/base/variables";

$wfx-navbar-height: 45px;

.wrapper {
  width: 90%;
  height: $wfx-navbar-height;
  border: solid #eee;
  border-width: 1px 0;
}

.navbar {
  height: $wfx-navbar-height;
  max-width: $wfx-view-maxWidth;
  margin-bottom: 0;
  border: none;
  display: flex;
  justify-content: center;
}

.link {
  height: $wfx-navbar-height;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font: 20px/1.6 "Coustard", Georgia, serif;
  color: #333;
}

.button {
  margin: 8px 10px 0 0;
  padding: 4px 5px;
}

.sidebarButtonWrapper {
  position: relative;
  float: right;
  height: 100%;
  display: flex;
}

.sidebarButton {
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

