@import "../base/variables";

.wfx-margin-top {
  margin-top: 20px;
}

.wfx-margin-left-5 {
  margin-left: 5px;
}

.wfx-padding-left {
  padding-left: 20px;
}

.wfx-padding-top {
  padding-left: 20px;
}

.wfx-padding-5 {
  padding: 5px;
}

.wfx-padding-10 {
  padding: 10px;
}

.wfx-zIndex-highest {
  z-index: $wfx-zIndex-highest;
}