// basic
$color-primary: #ffffff !default;
$color-secondary: #3b3f51 !default;

// background
$color-bg-primary: #ffffff !default;
$color-bg-secondary: #666666 !default;
$color-bg-third: #303030 !default;

// text
$color-text-primary: rgb(30, 30, 30) !default;
$color-text-secondary: #dddddd !default;
$color-text-title: #214974;
$color-text-subTitle: #9B9A99;

// element
$color-button-primary: white !default;
$color-button-secondary: wheat !default;


