
$color-primary: #ffffff !default;
$color-secondary: #3b3f51 !default;

$color-bg-primary: #ffffff;
$color-bg-secondary: #303030;

$color-text-primary: rgb(30, 30, 30) !default;
$color-text-secondary: #dddddd !default;

$color-text-title: #214974;
$color-text-subTitle: #9B9A99;

$color-innerBox-border: #eeeeee;

